{% extends 'base.html.twig' %}

{% block title %}Change Password - SHOP{% endblock %}

{% block body %}
    <h2>Change Password</h2>
    {{ form(form) }}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <a href="{{ path('account') }}" title="Back to your member area">Return to My Account</a>
{% endblock %}
