{% extends 'base.html.twig' %}

{% block title %}Change password - SHOP{% endblock %}
{% block body %}
    <h2>Change password</h2>
    {{form(form)}}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <a title="Back to your member area" href="{{ path('account') }}">Return to my account</a>
{% endblock %}
